.carousel.slide{
    min-width:30em;
}

a.carousel-control-prev {
    background:#000;
    height:5em;
    width:5em;
    top:45%;
    border-radius: 100%;
}

a.carousel-control-next {
    background:#000;
    height:5em;
    width:5em;
    top:45%;
    border-radius: 100%;
}

.image {
    width:80%;
    height:45em;
    margin-left:10%;
    margin-right:10%;
}

.carousel-caption {
    color:#000 !important
}

.carousel-caption h3{
    font-size: 300% !important
}

.carousel-caption p{
    font-size: 150% !important
}

.carousel-indicators li {
    background-color:#007bff !important
}