.jsonTable{
    margin-left:auto;
    margin-right:auto;
}

.jsonColumn {
    border:1px solid #D3D3D3;
    border-bottom:2px solid #D3D3D3;
    text-align:center;
    padding:0.25rem 0.5rem;
    box-sizing: border-box;
    color:#5B90F6;
    font-size: 80%;
    font-weight:500;

}

.jsonRow {
    text-align:center;
    padding:0.375rem 0.75rem;
    box-sizing: border-box;
    color:#495057;
}

.jsonCell {
    border:1px solid 	#D3D3D3;
    text-align:center;
    padding:0.375rem 0.75rem;
    box-sizing: border-box;
    color:#495057;
    font-size:80%;
    font-weight:500;
}

.jsonCell_nombre {
    font-weight: bold;
}

.jsonCell_apellidos{
    font-weight:bold;
}

p{
    width:60%;
    color:#DC143C;
    margin-top:0.25em !important;
    margin-bottom:0.25em !important;
    margin-right:auto;
    margin-left:auto;
    font-weight:400 !important;
    font-size:150% !important;
    text-align: center;
}


.cancel {
    border-radius:0.25rem;
    margin-top:2em;
    margin-left:2em;
}