.nav-link {
    color:white !important;
    font-size:95% !important
}

.navbar-brand {
    font-size:150% !important;
    color: white !important;
    padding:0 !important;
}

.dropdown-item {
    margin:0;
    border:0;
    font-size: 80%;
    color:white !important;
}

.dropdown-menu {
    background-color:#007bff !important;
}

.dropdown-item:hover{
    background-color:#0062cc !important;
}

.bg-primary {
    background-image: linear-gradient(#007bff, #004bff);
}

.btn-primary {
    background-image: linear-gradient(#007bff, #004bff);
    border:0 !important;
}

.btn-danger {
    background-image: linear-gradient(#dc3545, #bc3545);
    border:0 !important;
}

