
.containerSolicitud {
    width:80%;
    margin-top:2em;
    margin-left:auto;
    margin-right:auto;
}

Form .form-control {
    width:70%;
    float:right;
    margin: 0px;
}

Form .form-label {
    width:30%;
    font-weight: bold;
}

.botones {
    width:20%;
    float:left;
    margin-top:3em;
    margin-right:10em;
}

.btn {
    margin-right:1em;
}

Form .formizquierda{
    width: 35%;
    float:left;
    margin-right:14em;
    border:1px solid #ced4da;
    border-radius:0.25rem;
    padding:0.375rem 0.75rem;
    box-sizing: border-box;
    color:#495057;
}
