* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: white !important;
  font-size: 95% !important;
  border-radius: 0.25rem;
  text-align:center;
}

.nav-link:hover {
  background-color: #003bff !important;
}

.navbar {
  min-width: 40em !important;
  width: auto;
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  font-size: 150% !important;
  color: white !important;
  padding: 0 !important;
}

.bienvenido{
  color: white !important;
  font-size: 95% !important;
  border-radius: 0.25rem;
  align-content:right;
  text-align:right;
  padding: 0.5rem 1rem;
}

.bg-primary {
  background-image: linear-gradient(#007bff, #002bff);
}

.btn-primary {
  background-image: linear-gradient(#007bff, #002bff);
  border: 0 !important;
}

form {
  margin-right: auto;
  text-align: auto;
}

.containerlogin {
  width: 25em;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  min-width: 20em !important;
}

.containerSolicitud {
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

form .form-control {
  width: 70%;
  float: right;
  margin: 0px;
}

form .form-label {
  width: 30%;
  font-weight: bold;
}

.btn {
  margin-right: 1em;
}

form .formizquierda {
  width: 35%;
  float: left;
  margin-right: 14em;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  color: #495057;
}

a {
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
}

.carousel.slide {
  width: auto;
  max-width: 100%;
  height: auto;
}

a.carousel-control-prev {
  background: #000;
  height: 5em;
  width: 5em;
  top: 45%;
  border-radius: 100%;
}

a.carousel-control-next {
  background: #000;
  height: 5em;
  width: 5em;
  top: 45%;
  border-radius: 100%;
}

.image {
  width: 90%;
  height: 45em;
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-caption {
  color: #000 !important;
}

.carousel-caption h3 {
  font-size: 300% !important;
}

.carousel-caption p {
  font-size: 150% !important;
}

.carousel-indicators li {
  background-color: #007bff !important;
}

#boardCanvas {
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  min-width: 20em !important;
}

.casilla {
  height: 3em;
  margin-left: auto;
  margin-right: auto;
}

.tipodato {
  float: left;
  width: 40%;
  font-weight: bold;
  margin-left: 2em;
  margin-right: auto;
}

.dato {
  float: right;
  width: 40%;
}

.visorDICOM {
  background-image: linear-gradient(#000, #111);
  color:#fff;
}

.controles {
  margin-bottom:0 !important;
  color:#fff;

  float:left;
}

.controlder{
  width:20%;
  float:left;
}

.cameraControls {
  background-image: linear-gradient(#000, #111);
  width:30%;
  float:left;
  padding:0.5em 0em;
  font-size:90%;
}

.stackControls {
  background-image: linear-gradient(#000, #111);
  width:30%;
  float:left; 
  padding:0.5em 0em;
  font-size:90%;
}

.dg {
  position: relative;
  top: 50em;
  right: 2px; 
}
