* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  color: white !important;
  font-size: 95% !important;
  border-radius: 0.25rem;
  text-align:center;
}

.nav-link:hover {
  background-color: #003bff !important;
}

.navbar {
  min-width: 40em !important;
  width: auto;
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  font-size: 150% !important;
  color: white !important;
  padding: 0 !important;
}

.dropdown-item {
  margin: 0;
  border: 0;
  font-size: 80%;
  color: white !important;
}

.dropdown-menu {
  background-color: #007bff !important;
}

.dropdown-item:hover {
  background-color: #0062cc !important;
}

.bienvenido{
  color: white !important;
  font-size: 95% !important;
  border-radius: 0.25rem;
  align-content:right;
  text-align:right;
  padding: 0.5rem 1rem;
}

.bg-primary {
  background-image: linear-gradient(#007bff, #002bff);
}

.btn-primary {
  background-image: linear-gradient(#007bff, #002bff);
  border: 0 !important;
}
.btn-primary:hover {
  background-image: linear-gradient(#007bff, #000bff);
}

.btn-danger {
  background-image: linear-gradient(#dc3545, #bc3545);
  border: 0 !important;
}

.btn-danger:hover {
  background-image: linear-gradient(#dc3545, #9c3545);
}

form {
  margin-right: auto;
  text-align: auto;
}

.containerlogin {
  width: 25em;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  min-width: 20em !important;
}

.containerSolicitud {
  width: 80%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

form .form-control {
  width: 70%;
  float: right;
  margin: 0px;
}

form .form-label {
  width: 30%;
  font-weight: bold;
}

.botones {
  width: 20%;
  float: left;
  margin-top: 3em;
  margin-right: 10em;
}

.btn {
  margin-right: 1em;
}

form .formizquierda {
  width: 35%;
  float: left;
  margin-right: 14em;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  color: #495057;
}

.jsonTable {
  margin-left: auto;
  margin-right: auto;
}

.jsonColumn {
  border: 1px solid #d3d3d3;
  border-bottom: 2px solid #d3d3d3;
  text-align: center;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  color: #5b90f6;
  font-size: 80%;
  font-weight: 500;
}

.jsonRow {
  text-align: center;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  color: #495057;
}

.jsonCell {
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 0.375rem 0.75rem;
  box-sizing: border-box;
  color: #495057;
  font-size: 80%;
  font-weight: 500;
}

.jsonCell_nombre {
  font-weight: bold;
}

.jsonCell_apellidos {
  font-weight: bold;
}

.listado {
  width: 60%;
  color: #dc143c;
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400 !important;
  font-size: 150% !important;
  text-align: center;
}

.cancel {
  border-radius: 0.25rem;
  margin-top: 2em;
  margin-left: 2em;
}

.jsonRow.jsonOdd {
  background: #f4f4f4;
}

.btn-success {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 100% !important;
  background-image: linear-gradient(#28a745, #288745);
}

.btn-success:hover {
  background-image: linear-gradient(#28a745, #285745);
}

a {
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
}

.carousel.slide {
  width: auto;
  max-width: 100%;
  height: auto;
}

a.carousel-control-prev {
  background: #000;
  height: 5em;
  width: 5em;
  top: 45%;
  border-radius: 100%;
}

a.carousel-control-next {
  background: #000;
  height: 5em;
  width: 5em;
  top: 45%;
  border-radius: 100%;
}

.image {
  width: 90%;
  height: 45em;
  margin-left: 5%;
  margin-right: 5%;
}

.carousel-caption {
  color: #000 !important;
}

.carousel-caption h3 {
  font-size: 300% !important;
}

.carousel-caption p {
  font-size: 150% !important;
}

.carousel-indicators li {
  background-color: #007bff !important;
}

#boardCanvas {
  margin-left: auto;
  margin-right: auto;
}

.profile {
  width: 30em;
  margin-left: auto;
  margin-right: auto;
  min-width: 20em !important;
}

.casilla {
  height: 3em;
  margin-left: auto;
  margin-right: auto;
}

.tipodato {
  float: left;
  width: 40%;
  font-weight: bold;
  margin-left: 2em;
  margin-right: auto;
}

.dato {
  float: right;
  width: 40%;
}
